body {
    margin: 0px;
    padding: 0px;
    
}

#header {
    height: 100px;
    background-color: aqua;
    display: flex;
    justify-content: space-between;
}

#logo {
    width: 50px;
    height: 50px;
    padding: 22px;
}

nav {
    padding: 40px;
    width: 200px;
    display: flex;
    justify-content: space-evenly;
}

.intro {
    background-color: aqua;
    height: 350px;
}

.intro > img {
    float: right;
    padding: 20px;
}

.intro-part > p {
    padding-left: 20px;
}

.intro-part > button {
    margin-left: 140px;
}

#title {
    padding-left: 100px;
}
.intro-part {
   height: 350px;
   padding-top: 40px;
}

.second-main > h3 {
    text-align: center;
    background-color: aquamarine;
    margin: auto;
    padding-top: 50px;
}
.all-pages {
    background-color: aquamarine;
    padding-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.all-pages> a > img {
    flex: 1;
    width: 200px;
    padding: 30px;
    padding-bottom: 10px;
}

.all-pages > a > p {
    text-align: center;
    margin: auto;
}